* {
  box-sizing: border-box;
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

.header-container__a {
  margin-right: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #183b56;
}

.header-container__logo {
  width: 90px;
  height: 28px;
  margin-right: 393px;
}

.header-container__button {
  border: 2px solid #1565d8;
  filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
  border-radius: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #1565d8;
  width: 101px;
  height: 48px;
  padding: 0;
  margin-left: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.hero-container {
  background-image: url(/imgs/Image1.png);
  width: 1280px;
  height: 700px;
  left: 80px;
  top: 136px;
  margin-left: 107px;
  margin-top: 36px;
}

.hero-container__hashtag {
  height: 32px;
  width: 175px;
  border-radius: 2000px;
  margin-left: 107px;
  background: #36b37e1a;
  letter-spacing: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-container__hashtag--text {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: center;
  color: #36b37e;
  margin: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  display: block;
}

.hero-container__title {
  font-family: "HKGrotesk-Bold";
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0.2px;
  text-align: left;
  /* or 121% */
  height: 204px;
  width: 425px;
  margin-left: 107px;
  left: 0px;
  top: 60px;
  color: #183b56;
}

.hero-container__main-text {
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #5a7184;
  height: 108px;
  width: 652px;
  display: block;
  margin-left: 107px;
}

.hero-container__button {
  margin-left: 107px;
  margin-top: 52px;
  padding: 0 0 0 0;
  border: none;
  height: 55px;
  width: 259px;
  border-radius: 8px;
  background: #183b56;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
}

.hero-container__info {
  display: flex;
  width: 464px;
  height: 36px;
  margin-left: 107px;
  margin-top: 48.5px;
  justify-content: flex-start;
}

.hero-container__info--1 {
  display: flex;
  width: 163px;
  align-items: center;
  justify-content: space-evenly;
}

.hero-container__info--2 {
  display: flex;
  width: 118px;
  align-items: center;
  justify-content: space-evenly;
}

.hero-container__info--3 {
  display: flex;
  width: 121px;
  align-items: center;
  justify-content: space-evenly;
}

.Collection {
  height: 490px;
  width: 1140px;
  margin-left: 150px;
  margin-top: 120px;
  display: flex;
}

.Collection__mid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.Collection__right {
  height: 426px;
  width: 412px;
  margin-left: 57px;
}

.Collection__right--title {
  font-family: "HKGrotesk-Bold";
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  text-align: left;
}

.Collection__right--description {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  color: #5a7184;
  height: 225px;
  width: 392px;
  margin-top: 24px;
}

.Collection__right--link {
  margin-top: 32px;
  height: 25px;
  width: 227px;
  color: #1565d8;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.trends {
  margin-left: 152px;
  margin-top: 145px;
  width: 1135px;
  height: 1040px;
}

.trends__head {
  display: flex;
  justify-content: space-between;
}

.trends__title {
  font-family: "HKGrotesk-Bold";
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.2px;
  margin: 0;
}

.trends__list {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 17px;
}

.trends__list--item {
  margin-top: 31px;
}

.trends__list--cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trends__list--title {
  font-family: "HKGrotesk-Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin: 0;
  margin-top: 20px;
}

.trends__list--price {
  color: #5a7184;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}

.trends__collections {
  height: 350px;
  width: 260px;
  border-radius: 8px;
  background: #1565d8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trends__collections--a {
  font-family: "HKGrotesk-Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  height: 64px;
  width: 215px;
  margin-top: 25px;
}

.tabs__nav {
  width: 234px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.tabs__btn {
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
  color: #5a7184;
}

.item-active {
  display: flex;
}

.btn-active {
  font-family: "HKGrotesk-Bold";
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #183b56;
}

.swiper {
  width: 800px;
  height: 389px;
  margin-top: 145px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.review__main {
  font-family: "HKGrotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.13px;
  text-align: center;
}

.review__name {
  font-family: "HKGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
}

.stories {
  display: flex;
  height: 606px;
  width: 1150px;
  margin-top: 80px;
  border-top: 1px solid #e5eaf4;
  padding-top: 130px;
}

.stories__disclamer {
  width: 337px;
  height: 395px;
}

.stories__disclamer--tag {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #36b37e;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 16px;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  height: 32px;
  width: 102px;
}

.stories__disclamer--title {
  font-family: "HKGrotesk-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #183b56;
}

.stories__disclamer--description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #5a7184;
  height: 115px;
  width: 392px;
}

.stories__disclamer--button1 {
  border: 2px solid #959ead;
  border-radius: 2000px;
  height: 56px;
  width: 54px;
  border-radius: 2000px;
  background-color: #fff;
  cursor: pointer;
}

.stories__disclamer--button2 {
  border: 2px solid #183b56;
  border-radius: 2000px;
  height: 56px;
  width: 54px;
  border-radius: 2000px;
  background-color: #fff;
  cursor: pointer;
  margin-left: 22px;
}

.stories__item1 {
  margin-left: 96px;
}

.stories__item2 {
  margin-left: 28px;
}

.stories__base {
  height: 178px;
  width: 312px;
  background: #fafdff;
  font-family: "HKGrotesk";
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  z-index: 2;
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
  bottom: 15px;
  left: 10px;
}

.stories__text {
  margin-bottom: 12px;
}

.subscribe {
  background-image: url(/imgs/subscribe-bg-img.jpg);
  height: 300px;
  width: 1440px;
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: url(../Fonts/hk-grotesk-bold.otf);
}

@font-face {
  font-family: "HKGrotesk";
  src: url(../Fonts/HKGrotesk-Regular.otf);
}
/*# sourceMappingURL=styles.css.map */