.Collection {
  height: 490px;
  width: 1140px;
  margin-left: 150px;
  margin-top: 120px;
  display: flex;
  margin: auto;
  margin-top: 120px;
  &__mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
  }
  &__right {
    height: 426px;
    width: 412px;
    margin-left: 57px;
    &--title {
      font-family: "HKGrotesk-Bold";
      margin-top: 0px;
      margin-bottom: 24px;
      font-size: 48px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0.2px;
      text-align: left;
    }
    &--description {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0px;
      color: #5a7184;
      height: 225px;
      width: 392px;
      margin-top: 24px;
    }
    &--link {
      margin-top: 32px;
      height: 25px;
      width: 227px;
      color: #1565d8;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
    }
  }
}
