@import "_settings.scss";
@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_collection";
@import "blocks/_trends";
@import "blocks/_reviews";
@import "blocks/_stories";
@font-face {
  font-family: "HKGrotesk-Bold";
  src: url(../Fonts/hk-grotesk-bold.otf);
}
@font-face {
  font-family: "HKGrotesk";
  src: url(../Fonts/HKGrotesk-Regular.otf);
}
